{
  "trailingComma": "all",
  "singleQuote": true,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "parser": "typescript",
  "printWidth": 82,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "arrowParens": "avoid"
}
